.section__theme-terracotta  {
  background-color: #FF7143;
  color: black;
}

.section__theme-white {
  background-color: white;
  color: black;
}


/* ! header START */
.header {
  position: relative;
  display: flex;
  z-index: 2;
  justify-content: space-between;
  padding: 16px 17vw;
  margin: auto;
  background-color: black;

}

.header__logo-and-address { 
  display: flex;
  align-items: center;
  column-gap: 65px;
}

.header__address {
  background-color: rgba(255, 255, 255, 0.12);
  padding: 4px 14px 4px 8px;
  border-radius: 4px;
}

.header__address:hover, .header__button:hover {
  color: #FF7143;
  background-color: black;
  transition-duration: .2s;
}

.header__address:active, .header__button:active {
  color: white;
  transition-duration: 0ms;
}

.header__button-section {
  display: flex;
  align-items: center;
}
/* * Header button START */
.header__button {
  display: flex;
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 12px 32px;
  color: black;
  background-color: #FF7143;
  border-radius: 6px;
  margin-left: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  transition-duration: .2s;
}
/* * Header button END  */

/* * Navigation START */
.navigation-list {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
}

.navigation-list-item:hover {
  color: #FF7143;
  transition-duration: .2s;
}

.navigation-list-item:active {
  color: white;
  transition-duration: 0ms;
}
/* * Navigation END */
/* ! header END */

/* ! cover START */
.cover {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  min-height: 69vh;
  padding: 0 17vw;
}

.cover__image {
  position: absolute;
  z-index: 0;
  margin: 0 8px;
  right: 17vw;
  bottom: 0;
}

.cover__info-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 10px;
  text-align: center;
  align-items: center;
  max-width: 587px;
  height: 100%;
  padding: 0 16px;
  font-size: 18px;
}

.cover__title {
  font-size: 72px;
  line-height: 72px;
  margin-bottom: 27px;
}

.cover__description {
  margin-bottom: 22px;
}
/* * Cover button list START*/
.cover__button-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px 8px;
  list-style-type: none;
  justify-content: center;
}

.cover__button-list__item {
  padding: 20px 32px;
  border-radius: 6px;
  background-color: black;
  color: white;
  transition-duration: .2s;
}

.cover__button-list__item-reversed {
  background-color: white;
  color: black;
}

.cover__button-list__button {
  font-size: 18px;
  font-weight: 700;
}

.cover__button-list__item:hover {
  background-color: #FF7143;
  color: black;
  transition-duration: .2s;
}

.cover__button-list__item:active {
  color: white;
  transition-duration: .0ms;
}

.cover__button-list__item-reversed:hover {
  background-color: #FF7143;
  color: white;
  transition-duration: .2s;
}

.cover__button-list__item-reversed:active {
  color: black;
  transition-duration: .0ms;
}
/* * Cover button list END*/

/* ! cover END */

/* ! cover START */
.profits {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 51px;
  padding: 80px 0;
}
/* ! cover END */

/* ! Profits START */
.profits__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  justify-content: center;
}

.profits__list-item {
  display: flex;
  flex-direction: row;
  gap: 16px 24px;
  margin-right: 35px;
  transition-duration: .25s;
}

.profits__list-image {
  background-color: #FDE7DA;
  width: 48px;
  height: 48px;
  padding: 26px;
}

.profits__list__text-section {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  max-width: 257px;
}

.profit__heading {
  margin-top: 5px;
}


.profits__list-item:hover {
  background-color: #FF7143;
  color: white;
  border-radius: 0 0 8px 8px;
  transition-duration: .25s;
}
/* ! Profits END */

/* ! Quotes START*/
.quotes {
  height: 603px;
  display: flex;
}

.quotes__block {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  max-width: 603px;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
}

.quotes__logo {
  width: 100px;
  height: 20px;
  margin-bottom: 10px;
}

.quotes__quote {
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 10px;
  padding: 0 16px;
}

.quotes__author {
  font-weight: 700;
  line-height: 27px;
}

.quotes__author__about-author {
  font-weight: 400;
  line-height: 24px;
  color: rgba(255, 255, 255, .7);
}

/* * Quotes list buttons START */
.quotes__button-list {
  list-style-type: none;
  display: flex;
  column-gap: 6px;
}

.quotes__button-list__button {
  background-color: rgba(255, 255, 255, .4);
  width: 16px;
  height: 16px;
}

.quotes__button-list__button-active {
  background-color: white;
}
/* * Quotes list buttons START */
/* ! Quotes START*/

/* ! Landing START*/
.landing {
  display: flex;
  flex-direction: column;
  padding: 100px 16px;
  align-items: center;
}

.content-box {
  max-width: 1280px;
}

.landing__heading {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 25px;
}

.landing__list {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  list-style: none;
  
}

.landing__list-item__link {
  display: flex;
  flex-direction: column;
}

.landing__list-item__image {
  background-color: black;
  max-width: 334px;
  padding: 40px 40px 0 40px;
  border-radius: 6px 6px 0 0;
}

.landing__list-item__text-section {
  border: 1px solid rgb(223, 223, 223);
  border-top: 0;
  border-radius: 0 0 6px 6px;
  padding: 25px 32px;
}

.landing__list-item__heading {
  font-size: 20px;
  line-height: 28px;
}
/* ! Landing END*/

/* ! Footer START*/
.footer {
  padding: 32px 17vw 0;
}

.footer__logo-and-button {
  display: flex;
  flex-wrap: wrap;
  margin: 32px 0;
  justify-content: space-between;
  align-items: center;
}

.footer__button {
  background-color: white;
  color: black;
  padding: 12px 32px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  transition-duration: .2s;
}

.footer__button:hover {
  background-color: black;
  color: #FF7143;
  transition-duration: .2s;
}

.footer__button:active {
  background-color: black;
  color: white;
  transition-duration: .0ms;
}

.footer__navigation-and-socials {
  padding: 32px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
}

.footer__socials__list {
  display: flex;
  column-gap: 8px;
  list-style: none;
}

.footer__socials__list-item {
  display: flex;
  background-color: rgba(255, 255, 255, .1);
  width: min-content;
  min-width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
}

.footer__contacts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 29px 0;
  justify-content: space-between;
}

.footer__contacts-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  column-gap: 12px;
}

.footer__contacts-list-item {
  display: flex;
  column-gap: 12px;
}

.designers-name {
  color: #FF7143;
  margin-left: 4px;
}

.footer__contact-button {
  transition-duration: .2s;

}

.footer__contact-button:hover {
  color: #FF7143;
  transition-duration: .2s;
}

.footer__contact-button:active {
  color: white;
  transition-duration: .0ms;
}
/* ! Footer END*/

/* Image loading failed START */
.logo:before {
  content: "blanko";
  display: block;
  font-size: 24px;
  font-weight: bold;
}

.show-more:before {
  content: "...";
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 3px;
}

.instagram:before {
  content: "Instagram";
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  padding: 0 8px;
}

.x:before {
  content: "Twitter";
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  padding: 0 8px;
}

.facebook:before {
  content: "Facebook";
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  padding: 0 8px;
}
/* Image loading failed END */

/* Media START */
@media (max-width: 1200px) {
  .header {
    width: unset;
    padding: 16px;
  }
}

@media (min-width: 850px) {
  .show-more__button {
    display: none;
  }
}

@media (max-width: 850px) {
  .header__button-section, .header__address {
    display: none;
  }
}

@media (max-width: 1580px) {
  .cover {
    padding: 0;
  }
  .cover__info-section {
    margin: auto;
  }
  
  .cover__image {
    display: none;
  }
}

@media (max-width: 1309px) {
  .landing__list {
    justify-content: center;
  }
}

@media (max-width: 552px) {
  .landing__list-item__image {
    width: 256px;
    padding: 16px 16px 0 16px;
  }

}

@media (max-width: 465px) {
  /* cover */
  .cover__button-list__item {
    width: 100%;
  }

  .cover__button-list__button {
    font-size: 16px;
  }
  /* profits */
  .profits__list-item {
    flex-direction: column;
  }
  
  .profits__list-image {
    width: 32px;
    height: 32px;
    padding: 9px;
  }

  .profits__list-item {
    margin-left: 16px;
  }
  /* quotes */
  .quotes {
    height: 317px;
  }
  
  .quotes__block {
    row-gap: 16px;
  }

  .quotes__logo {
    width: 50px;
    height: 10px;
    margin-bottom: 8px;
  }
  
  .quotes__quote {
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 8px;
  }

  .quotes__author {
    font-size: 16px;
  }

  .quotes__author__about-author {
    font-size: 14px  ;
  }

  .footer {
    padding: 32px 16px 0;
  }

  .footer__logo-and-button {
    margin-bottom: 0;
  }

  .footer__button {
    width: 100%;
    margin: 32px 0 8px;
  }
  
  .navigation-list-item {
    margin-bottom: 24px;
  }
  
  .footer__navigation-and-socials {
    border-bottom: 0;
  }

  .footer__socials__list {
    margin-top: 8px;
  }

  .footer__contacts-list {
    row-gap: 12px;
  }

  .footer__contact-button {
    margin-top: 32px;
  }
}

@media (min-width: 420px) {
  .footer__contact-button {
    margin-top: 0;
  }
}

@media (max-width: 325px) {
  .cover__title {
    font-size: 48px;
    line-height: normal;
    margin-bottom: 16px;
  }
}
/* Media END */