.section__theme-terracotta  {
  background-color: #FF7143;
  color: black;
}

.section__theme-white {
  background-color: white;
  color: black;
}


/* ! header START */
.header {
  position: relative;
  display: flex;
  z-index: 2;
  justify-content: space-between;
  padding: 16px 17vw;
  margin: auto;
  background-color: black;

}

.header__logo-and-address { 
  display: flex;
  align-items: center;
  column-gap: 65px;
}

.header__address {
  background-color: rgba(255, 255, 255, 0.12);
  padding: 4px 14px 4px 8px;
  border-radius: 4px;
}

.header__address:hover, .header__button:hover {
  color: #FF7143;
  background-color: black;
  transition-duration: .2s;
}

.header__address:active, .header__button:active {
  color: white;
  transition-duration: 0ms;
}

.header__button-section {
  display: flex;
  align-items: center;
}
/* * Header button START */
.header__button {
  display: flex;
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 12px 32px;
  color: black;
  background-color: #FF7143;
  border-radius: 6px;
  margin-left: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  transition-duration: .2s;
}
/* * Header button END  */

/* * Navigation in header START */
.header__navigation-list {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
}

.header__navigation-list-item:hover {
  color: #FF7143;
  transition-duration: .2s;
}

.header__navigation-list-item:active {
  color: white;
  transition-duration: 0ms;
}
/* * Navigation in header END */
/* ! header END */

/* ! cover START */
.cover {
  position: relative;
  height: 69vh;
  padding: 0 17vw;
}

.cover__image {
  position: absolute;
  z-index: 0;
  margin: 0 8px;
  right: 17vw;
  bottom: 0;
}

.cover__info-section {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 10px;
  text-align: center;
  justify-content: center;
  max-width: 587px;
  height: 100%;
  padding: 0 16px;
  background-color: #FF7143;
  font-size: 18px;
}

.cover__title {
  font-size: 72px;
  line-height: 72px;
  margin-bottom: 27px;
}

/* * Cover button list START*/
.cover__button-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px 8px;
  list-style-type: none;
  justify-content: center;
}

.cover__button-list__item {
  padding: 20px 32px;
  border-radius: 6px;
  background-color: black;
  color: white;
  transition-duration: .2s;
}

.cover__button-list__item-reversed {
  background-color: white;
  color: black;
}

.cover__button-list__button {
  font-size: 18px;
  font-weight: 700;
}

.cover__button-list__item:hover {
  background-color: #FF7143;
  color: black;
  transition-duration: .2s;
}

.cover__button-list__item:active {
  color: white;
  transition-duration: .0ms;
}

.cover__button-list__item-reversed:hover {
  background-color: #FF7143;
  color: white;
  transition-duration: .2s;
}

.cover__button-list__item-reversed:active {
  color: black;
  transition-duration: .0ms;
}
/* * Cover button list END*/

/* ! cover END */

/* ! cover START */
.profits {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 51px;
  padding: 80px 0;
}
/* ! cover END */

/* ! Profits START */
.profits__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  justify-content: center;
}

.profits__list-item {
  display: flex;
  flex-direction: row;
  gap: 16px 24px;
}

.profits__list-image {
  background-color: #FDE7DA;
  width: 48px;
  height: 48px;
  padding: 26px;
}

.profits__list__text-section {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  max-width: 257px;
  margin-right: 35px;
  justify-content: end;
}
/* ! Profits END */

/* Image loading failed START */
.header__logo:before {
  content: "blanko";
  display: block;
  font-size: 24px;
  font-weight: bold;
}

.show-more:before {
  content: "...";
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 3px;
}
/* Image loading failed END */

/* Media START */
@media (max-width: 1200px) {
  .header {
    width: unset;
    padding: 16px;
  }
}

@media (min-width: 850px) {
  .show-more__button {
    display: none;
  }
}

@media (max-width: 850px) {
  .header__button-section, .header__address {
    display: none;
  }
}

@media (max-width: 1525px) {
  .cover {
    padding: 0;
  }
  .cover__info-section {
    margin: auto;
  }
  
  .cover__image {
    display: none;
  }
}

@media (max-width: 465px) {
  .cover__button-list__item {
    width: 100%;
  }

  .cover__button-list__button {
    font-size: 16px;
  }
}

@media (max-width: 325px) {
  .cover__title {
    font-size: 48px;
    line-height: normal;
    margin-bottom: 16px;
  }
}

@media (max-width: 465px) {
  .profits__list-item {
    flex-direction: column;
  }
  
  .profits__list-image {
    width: 32px;
    height: 32px;
    padding: 9px;
  }

  .profits__list-item {
    margin-left: 16px;
  }
}
/* Media END */